@using EntityLayer.Concrete
@model User
@{

    ViewData["Title"] = "Kayıt Ol";
}
<h1>@ViewData["Title"]</h1>



@using (Html.BeginForm("Register", "UserPanel", FormMethod.Post, new { @class = "form-group" }))
{

    <div>
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", name = "Username" })
    </div>
    <br />
    <div>
        <label>Şifre</label>
        @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control", name = "Password" })
    </div>
    <br />
    <button class="btn btn-success" type="submit">Kayıt Ol</button>
}