@using EntityLayer.Concrete
@model Category
@{
    ViewData["Title"] = "Kategori Ekle";
}
<h1>@ViewData["Title"]</h1>



@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post, new { @class = "form-group" }))
{
    
    <div>
        <label>Kategori Adı</label>
        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", name = "CategoryName" })
    </div>
    <br />
    <button class="btn btn-success" type="submit">Kategori Güncelle</button>
}
